---
title: Collections
pagination:
  enabled: true
  collection: posts
---
{%- include variables.liquid -%}
{%- assign total_words = 0 -%}
{%- for post in site.posts -%}
  {%- assign content_words = post.content | strip_html | number_of_words -%}
  {%- assign total_words = total_words | plus:content_words -%}
{%- endfor -%}

<div class="posts-wrapper">
  <div id="header">
    <h1>{{ site.title }}</h1>
    <h4>Total of: {{ site.posts.size }} pages, ~{{ total_words }} words</h4>
    <h4>
      By: <a href="https://github.com/ClavinJune" rel="me">Clavin June</a>, <a href="mailto:juneardoc@gmail.com" rel="me">juneardoc@gmail.com</a>
    </h4>
    <hr>
  </div>

{% for post in paginator.posts %}
  {%- assign reading_time = post.content | strip_html | number_of_words | plus:91 | divided_by:wpm -%}

  {%- if reading_time <= 1 -%}
    {%- assign reading_time = 1 -%}
  {%- endif -%}

<div class="posts">
  <a class="posts-title" href="{{ post.url | prepend:site.url }}">{{ post.title }}</a>
  <div class="posts-time">
    <span>{{ post.date | date: "%b %d, %Y" }}</span>
    <span>&nbsp;&middot;&nbsp;</span>
    <span>{{ '~' | append:reading_time | append: 'min read' }}</span>
  </div>
  <div class="posts-tags">
    <span class="posts-tags-category" id="{{ post.category | md5 }}">
      {{ post.category }}
    </span>
    {%- assign tags = post.tags | sort -%}
    {% for tag in tags limit: 4 %}
      <span class="posts-tags-content">#{{ tag }}</span>
    {% endfor %}
  </div>
</div>
{% endfor %}

{%- if paginator.total_pages > 1 -%}
<div class="pagination">
  {%- if paginator.previous_page -%}
    {%- assign prev_attribute = 'href="' | append:site.url | append:paginator.previous_page_path | append:'" class="active"' -%}
  {%- endif -%}

  {%- if prev_attribute -%}
    <a {{ prev_attribute }}>Newer</a>
  {%- else -%}
    <span class="button">Newer</span>
  {%- endif -%}
  

  <span>{{ paginator.page }} of {{ paginator.last_page }}</span>

  {%- if paginator.next_page -%}
    {%- assign next_attribute = 'href="' | append:site.url | append:paginator.next_page_path | append:'" class="active"' -%}
  {%- endif -%}

  {%- if next_attribute -%}
    <a {{ next_attribute }}>Older</a>
  {%- else -%}
    <span class="button">Older</span>
  {%- endif -%}
</div>
{%- endif -%}
</div>