{%- include header.liquid -%}
{%- assign reading_time = page.content | strip_html | number_of_words | plus:91 | divided_by:wpm -%}
{%- if reading_time <= 1 -%}
  {%- assign reading_time = 1 -%}
{%- endif -%}
<div class="progress-bar"></div>
<nav id="post">
  <a id="back" href="/">&larr;</a>
  <div>
    <a href="https://positif.dev" target="_blank">Podcast</a>
    <a href="/support">Support</a>
    <a href="https://gitconnected.com/clavinjune/resume" target="_blank">Author</a>
  </div>
</nav>
<main id="post">
  <div>
    <h1 class="title">{{ page.title }}</h1>
    <div class="posts-time">
      <span>{{ page.date | date: "%b %d, %Y" }}</span>
      <span>&nbsp;&middot;&nbsp;</span>
      <span>{{ '~' | append:reading_time | append: 'min read' }}</span>
    </div>
    <div class="posts-tags">
      <span class="posts-tags-category" id="{{ page.category | md5 }}">
        {{ page.category }}
      </span>
      {%- assign tags = page.tags | sort -%}
      {% for tag in tags limit: 4 %}
        <span class="posts-tags-content">#{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
  
  <iframe src="{{ page.podcast }}" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <hr>
  {{ content }}
  <div>Thank you for reading!</div>
  <footer>
    <hr>
    <span>Copyright &copy; {{ site.time | date: '%Y' }} &middot; Clavin June</span>
    </div>
  </footer>
</main>
{%- include footer.liquid -%}